<div class="container">
  <div class="page-header">
    <h3>Test history for <span class="mp_name_class"><%= @mp_name %></span> over last 30 days</h3>
  </div>
  <table class="table table-bordered mytable">
    <thead>
      <tr>
        <th>Test Class</th>
        <th>Method</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>Days</th>
      </tr>
    </thead>
    <tbody>
    <% @test_data.each do |data|%>
      <tr>
      <td><%=data[:class]%></td>
      <td><a href="/<%=@mp_name%>/<%= data[:class]%>/<%= data[:method] =%>"><%=data[:method]%></a></td>
      <td><%=data[:pass]%></td>
      <td><%=data[:fail]%></td>
      <td><%=data[:days]%></td>
    </tr>
  <%end%>
    </tbody>
  </table>


  <script>
$('.mytable').dynatable({
table: {
defaultColumnIdStyle: 'trimDash'
}
});
  </script>

